.inputtext,
.textarea,
.select {
    outline-style:none;
    box-shadow:none;
    border-color:transparent;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    background-color:#fff;
    border:solid 1px transparent;
    border:solid 1px #eee;

    padding-left: 20px;
    padding-right: 20px;

    width:100%;

}

.inputtext {
    height:50px;
    line-height: 50px;
}

.textarea {
    height: 200px;
    padding-top: 10px;
}

select::-ms-expand {
    display: none;
}

input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}

@-moz-document url-prefix() {
    /* hide select cursor in mozilla */
    .select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: "";
    }
}

.select {
    height: 50px;
    line-height: 50px;

    background: url('../img/layout/bg-inputselect.png') 96% no-repeat #fff;
    /*padding-left:15px;
    padding-right:15px;*/
}

.form label.label {
    color:#1d1d1b;
    font-size: 14px;
    font-weight: normal;
    display: block;
    margin-bottom: 5px;
}

.form label.label em {
    padding-left: 5px;
}

.formrow {
    margin-bottom: 10px;
    overflow: hidden;
}

.formrow .error,
.formrow.error label.label {
    color:red;
}

.formrow .error {
    font-style:italic;
    margin-top: 10px;
}

.formrow.error .inputtext,
.formrow.error .textarea,
.formrow.error .select {
    border:solid 1px red;
}

/* 
vertifal form fields: 
<div class="formrow"></div>
----
horizontal form fields:
<div class="formrow formrow-inline"></div>
*/

.formrow-inline {
    display: table;
    width:100%;
}

.formrow-inline label.label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

    display: table-cell;

    /*float:left;
    width:115px;*/
    padding-right: 20px;
    padding-top: 10px;
    vertical-align: top;
}

/* 
http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/#pureCSS
*/
.checkbox:not(old),
.radio:not(old){
  width     : 14px;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

.checkbox:not(old) + label,
.radio:not(old) + label{
  display      : inline-block;
  margin-left  : -17px;
  line-height  : 1.5em;
  cursor: pointer;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
     /* IOS */
/*     .checkbox:not(old) + label,
     .radio:not(old) + label{
        margin-left:0px;
    }*/
}

.checkbox:not(old) + label > .span,
.radio:not(old) + label > .span{
  display          : inline-block;
  width            : 15px;
  height           : 15px;
  margin           : 0px 7px 5px 0px;
  /*border           : 2px solid #e5e5e5;*/
  background-color: #e5e5e5;
  vertical-align   : bottom;
}

.checkbox:not(old):checked + label > .span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : #e41b13;
  font-size   : 1em;
  line-height : 1em;
  text-align  : center;
  /*text-shadow : 0 0 0.0714em rgb(115,153,77);*/
  font-weight : bold;
}

@media only screen and (max-width: 767px) {
    .formrow-inline {
        display: block;
    }

    .formrow-inline label.label {
        padding:0px;
        margin:0px;
        margin-bottom: 5px;
        display: block;
        width:100% !important;
    }

    .formrow-inline.btn-container {
        margin-left:0px !important;
    }
}