@media only screen and (max-width: 575px) {
	.col-1 {
		border:solid 1px black;
	}

	.col-2 {
		border:solid 1px black;
	}

	.col-3 {
		border:solid 1px black;
	}

	.col-4 {
		border:solid 1px black;
	}

	.col-5 {
		border:solid 1px black;
	}

	.col-6 {
		border:solid 1px black;
	}

	.col-7 {
		border:solid 1px black;
	}

	.col-8 {
		border:solid 1px black;
	}

	.col-9 {
		border:solid 1px black;
	}

	.col-10 {
		border:solid 1px black;
	}

	.col-11 {
		border:solid 1px black;
	}

	.col-12 {
		border:solid 1px black;
	}
}

@media only screen and (min-width: 576px) {
	.col-sm-1 {
		border:solid 1px orange;
	}

	.col-sm-2 {
		border:solid 1px orange;
	}

	.col-sm-3 {
		border:solid 1px orange;
	}

	.col-sm-4 {
		border:solid 1px orange;
	}

	.col-sm-5 {
		border:solid 1px orange;
	}

	.col-sm-6 {
		border:solid 1px orange;
	}

	.col-sm-7 {
		border:solid 1px orange;
	}

	.col-sm-8 {
		border:solid 1px orange;
	}

	.col-sm-9 {
		border:solid 1px orange;
	}

	.col-sm-10 {
		border:solid 1px orange;
	}

	.col-sm-11 {
		border:solid 1px orange;
	}

	.col-sm-12 {
		border:solid 1px orange;
	}
}

@media only screen and (min-width: 768px) {
	.col-md-1 {
		border:solid 1px blue;
	}

	.col-md-2 {
		border:solid 1px blue; 
	}

	.col-md-3 {
		border:solid 1px blue;
	}

	.col-md-4 {
		border:solid 1px blue;
	}

	.col-md-5 {
		border:solid 1px blue;
	}

	.col-md-6 {
		border:solid 1px blue;
	}

	.col-md-7 {
		border:solid 1px blue;
	}

	.col-md-8 {
		border:solid 1px blue;
	}

	.col-md-9 {
		border:solid 1px blue;
	}

	.col-md-10 {
		border:solid 1px blue;
	}

	.col-md-11 {
		border:solid 1px blue;
	}

	.col-md-12 {
		border:solid 1px blue;
	}
}

@media only screen and (min-width: 992px) {
	.col-lg-1 {
		border:solid 1px red;
	}

	.col-lg-2 {
		border:solid 1px red;
	}

	.col-lg-3 {
		border:solid 1px red;
	}

	.col-lg-4 {
		border:solid 1px red;
	}

	.col-lg-5 {
		border:solid 1px red;
	}

	.col-lg-6 {
		border:solid 1px red;
	}

	.col-lg-7 {
		border:solid 1px red; 
	}

	.col-lg-8 {
		border:solid 1px red;
	}

	.col-lg-9 {
		border:solid 1px red;
	}

	.col-lg-10 {
		border:solid 1px red;
	}

	.col-lg-11 {
		border:solid 1px red;
	}

	.col-lg-12 {
		border:solid 1px red;
	}
}

@media only screen and (min-width: 1200px) {
	.col-xl-1 {
		border:solid 1px purple;
	}

	.col-xl-2 {
		border:solid 1px purple;
	}

	.col-xl-3 {
		border:solid 1px purple;
	}

	.col-xl-4 {
		border:solid 1px purple;
	}

	.col-xl-5 {
		border:solid 1px purple;	
	}

	.col-xl-6 {
		border:solid 1px purple;
	}

	.col-xl-7 {
		border:solid 1px purple;
	}

	.col-xl-8 {
		border:solid 1px purple;
	}

	.col-xl-9 {
		border:solid 1px purple;
	}

	.col-xl-10 {
		border:solid 1px purple;
	}

	.col-xl-11 {
		border:solid 1px purple;
	}

	.col-xl-12 {
		border:solid 1px purple;
	}
}