/*
gebaseerd op bootstrap 4.0
col - < 576
col-sm >= 576
col-md >= 768
col-lg >= 992
col-xl >= 1200
*/

/*.row {
margin-left: -15px;
margin-right: -15px;
border:solid 2px purple;
overflow: hidden;
}*/
html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

.container,
.container-fluid {
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.no-gutters {
	margin-left: 0px;
	margin-right: 0px;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,

.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 


	padding-left: 15px;
	padding-right: 15px;

}

@media only screen and (max-width: 575px) {
	.col-1 {
		width:8.333333%;
		float:left;

	}

	.col-2 {
		width:16.666667%;
		float:left;

	}

	.col-3 {
		width:25%;
		float:left;

	}

	.col-4 {
		width:33.3%;
		float:left;

	}

	.col-5 {
		width:41.666667%;
		float:left;

	}

	.col-6 {
		width:50%;
		float:left;

	}

	.col-7 {
		width:58.333333%;
		float:left;

	}

	.col-8 {
		width:66.666667%;
		float:left;

	}

	.col-9 {
		width:75%;
		float:left;

	}

	.col-10 {
		width:83.333333%;
		float:left;

	}

	.col-11 {
		width:91.666667%;
		float:left;		
	}

	.col-12 {
		width:100%;
		float:none;
	}
}

@media only screen and (min-width: 576px) {
	.col-sm-1 {
		width:8.333333%;
		float:left;
	}

	.col-sm-2 {
		width:16.666667%;
		float:left;
	}

	.col-sm-3 {
		width:25%;
		float:left;
	}


	.col-sm-4 {
		width:33.3%;
		float:left;
	}

	.col-sm-5 {
		width:41.666667%;
		float:left;
	}

	.col-sm-6 {
		width:50%;
		float:left;
	}

	.col-sm-7 {
		width:58.333333%;
		float:left;
	}

	.col-sm-8 {
		width:66.666667%;
		float:left;
	}

	.col-sm-9 {
		width:75%;
		float:left;
	}

	.col-sm-10 {
		width:83.333333%;
		float:left;
	}

	.col-sm-11 {
		width:91.666667%;
		float:left;
	}

	.col-sm-12 {
		width:100%;
		float:none;
	}
}

@media only screen and (min-width: 768px) {
	.col-md-1 {
		width:8.333333%;
		float:left;
	}

	.col-md-2 {
		width:16.666667%;
		float:left;
	}

	.col-md-3 {
		width:25%;
		float:left;
	}

	.col-md-4 {
		width:33.3%;
		float:left;
	}

	.col-md-5 {
		width: 41.666667%;
		float:left;
	}

	.col-md-6 {
		width:50%;
		float:left;
	}

	.col-md-7 {
		width: 58.333333%;
		float:left;
	}

	.col-md-8 {
		width: 66.666667%;
		float:left;
	}

	.col-md-9 {
		width: 75%;
		float:left;
	}

	.col-md-10 {
		width:83.333333%;
		float:left;
	}

	.col-md-11 {
		width:91.666667%;
		float:left;
	}

	.col-md-12 {
		width:100%;
		float:none;
	}
}

@media only screen and (min-width: 992px) {
	.col-lg-1 {
		width:8.333333%;
		float:left;
	}

	.col-lg-2 {
		width:16.666667%;
		float:left;
	}

	.col-lg-3 {
		width:25%;
		float:left;
	}

	.col-lg-4 {
		width:33.3%;
		float:left;
	}

	.col-lg-5 {
		width:41.666667%;
		float:left;
	}

	.col-lg-6 {
		width:50%;
		float:left;
	}

	.col-lg-7 {
		width:58.333333%;
		float:left;
	}

	.col-lg-8 {
		width:66.666667%;
		float:left;
	}

	.col-lg-9 {
		width:75%;
		float:left;
	}

	.col-lg-10 {
		width:83.333333%;
		float:left;
	}

	.col-lg-11 {
		width:91.666667%;
		float:left;
	}

	.col-lg-12 {
		width:100%;
		float:none;
	}
}

@media only screen and (min-width: 1200px) {
	.col-xl-1 {
		width:8.333333%;
		float:left;
	}

	.col-xl-2 {
		width:16.666667%;
		float:left;
	}

	.col-xl-3 {
		width:25%;
		float:left;
	}

	.col-xl-4 {
		width:33.3%;
		float:left;
	}

	.col-xl-5 {
		width:41.666667%;
		float:left;
	}

	.col-xl-6 {
		width:50%;
		float:left;
	}

	.col-xl-7 {
		width:58.333333%;
		float:left;
	}

	.col-xl-8 {
		width:66.666667%;
		float:left;
	}

	.col-xl-9 {
		width:75%;
		float:left;
	}

	.col-xl-10 {
		width:83.333333%;
		float:left;
	}

	.col-xl-11 {
		width:91.666667%;
		float:left;
	}

	.col-xl-12 {
		width:100%;
		float:none;
	}
}