ul.pagination {
    list-style:none;
    margin:0px;
    padding:0px;
}

.pagination-item {
    float: left;  
    margin-left: 15px;
}

.pagination-item:first-child {
    margin-left: 0px;    
}

.pagination-link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

    -webkit-transition: all .5s ease;
    transition: all .5s ease;

    display: table-cell;
    vertical-align: middle;
    line-height: 1;
    width:49px;
    height: 49px;
    padding:5px;
    text-align: center;
    /*height: 49px;
    line-height: 49px;
    width:49px;
    padding-left: 20px;
    padding-right: 20px;
    */
    border:solid 1px #1d1d1b;
    text-align: center;
    color:#1d1d1b;
}

.pagination-item.active .pagination-link {
    background-color:#1d1d1b;
    color:#fff;
}

.pagination-link:hover {
    background-color:#e8e8e8;
    color:#1d1d1b;
}

.pagination-item.previous .pagination-link {
    padding-left: 33px;
    padding-right: 75px;
}

.pagination-item.next .pagination-link {
    padding-left: 75px;
    padding-right: 33px;
}

.pagination-item.previous .pagination-link,
.pagination-item.next .pagination-link {
    width:inherit;
}

.pagination-item.previous .pagination-link:before,
.pagination-item.next .pagination-link:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 

    display: block;
    font-family: 'FontAwesome';
}

.pagination-item.previous .pagination-link:before {

    content:'\f177';
}

.pagination-item.next .pagination-link:before {
    content:'\f178';
}

@media only screen and (max-width: 767px) {
    .pagination-item.previous .pagination-link,
    .pagination-item.next .pagination-link {
        padding-left:0px;
        padding-right:0px;
        width:49px;
        height: 49px;
    }
}

@media only screen and (max-width: 575px) {   
    .pagination-item .pagination-link,
    .pagination-item.previous .pagination-link,
    .pagination-item.next .pagination-link {
        width:29px;
        height: 29px;
    }
}