@alert-info-color: #004085;
@alert-info-bgcolor: #cce5ff;
@alert-info-bordercolor:#b8daff;

@alert-success-color: #155724;
@alert-success-bgcolor: #d4edda;
@alert-success-bordercolor:#c3e6cb;

@alert-danger-color: #721c24;
@alert-danger-bgcolor: #f8d7da;
@alert-danger-bordercolor:#f5c6cb;

@alert-warning-color: #856404;
@alert-warning-bgcolor: #fff3cd;
@alert-warning-bordercolor:#ffeeba;

.alert {
  .box-sizing(border-box);
  .border-radius(20px);

  padding:20px;
  border:solid 1px;

  .info {
    color:@alert-info-color;
    background-color: @alert-info-bgcolor;
    border-color: @alert-info-bordercolor;
  }

  .success {
    color:@alert-success-color;
    background-color: @alert-success-bgcolor;
    border-color: @alert-success-bordercolor;
  }

  .danger {
    color:@alert-danger-color;
    background-color: @alert-danger-bgcolor;
    border-color: @alert-danger-bordercolor;
  }

  .warning {
    color:@alert-warning-color;
    background-color: @alert-warning-bgcolor;
    border-color: @alert-warning-bordercolor;
  }
}