/*
gebaseerd op bootstrap 4.0
col - < 576
col-sm >= 576
col-md >= 768
col-lg >= 992
col-xl >= 1200
*/

@nr_columns: 12;
@gutter-width: 30px;

.container,
.container-fluid {
    padding-left:@gutter-width;
    padding-right: @gutter-width;
}

.row {
    margin-left:-@gutter-width;
    margin-right:-@gutter-width;
}

.no-gutters {
    margin-left:0px;
    margin-right:0px;

    > .col,
    > [class*="col-"] {
        padding-left:0px;
        padding-right:0px;
    }
}

.generate-columns(@n, @i: 1) when (@i =< @n) {
    .col-@{i},
    .col-sm-@{i},
    .col-md-@{i},
    .col-lg-@{i},
    .col-xl-@{i} {
        .box-sizing(border-box);
        padding-left:@gutter-width;
        padding-right:@gutter-width;
    }

    .generate-columns(@n, (@i + 1));
}

.generate-columns(@nr_columns);

.col_width(@nr_cols, @col) {
    width: (100/@nr_cols) * @col * 1%;
}

@media @media- {
    .generate-columns-(@n, @i: 1) when (@i =< @n) {
        .col-@{i} {
            .col_width(@nr_columns, @i);
        }
        .generate-columns-(@n, (@i + 1));
    }

    .generate-columns-(@nr_columns);
}

@media @media-sm {
    .generate-columns-(@n, @i: 1) when (@i =< @n) {
        .col-sm-@{i} {
            .col_width(@nr_columns, @i);
        }
        .generate-columns-(@n, (@i + 1));
    }

    .generate-columns-(@nr_columns);
}

@media @media-md {
    .generate-columns-(@n, @i: 1) when (@i =< @n) {
        .col-md-@{i} {
            .col_width(@nr_columns, @i);
        }
        .generate-columns-(@n, (@i + 1));
    }

    .generate-columns-(@nr_columns);
}

@media @media-lg {
    .generate-columns-(@n, @i: 1) when (@i =< @n) {
        .col-lg-@{i} {
            .col_width(@nr_columns, @i);
        }
        .generate-columns-(@n, (@i + 1));
    }

    .generate-columns-(@nr_columns);
}

@media @media-xl {
    .generate-columns-(@n, @i: 1) when (@i =< @n) {
        .col-xl-@{i} {
            .col_width(@nr_columns, @i);
        }
        .generate-columns-(@n, (@i + 1));
    }

    .generate-columns-(@nr_columns);
}