@media-: ~"only screen and (max-width: 575px)";
@media-sm: ~"only screen and (min-width: 576px) and (max-width: 767px)";
@media-md: ~"only screen and (min-width: 768px) and (max-width: 991px)";
@media-lg: ~"only screen and (min-width: 992px) and (max-width: 1199px)";
@media-xl: ~"only screen and (min-width: 1200px)";

@media-max-: ~"(max-width:575px)";
@media-max-sm: ~"(max-width: 767px)";
@media-max-md: ~"(max-width:991px)";
@media-max-lg: ~"(max-width:1199px)";

