{extends file='layout.html'}

{block name="css" append}
<link rel="stylesheet" href="css/elements.css?v={$smarty.now}">
{/block}

{block name="js" append}
<script src="js/elements.js?v={$smarty.now}"></script>
{/block}

{block name="contentwrapper"}
<div id="elements" class="main-contentwrapper">
    <div class="container">
        <div id="top-breadcrumb">
            {include file="breadcrumb.html" breadcrumbs=$breadcrumbs}
        </div>
    </div>

    <div class="container container-banner">
        <div class="row">
            <div id="test-slider" class="clearfix">
                <ul class="slides">
                    <li>
                        <img src="./img/home_banner.jpg" alt="" title="" />
                    </li>
                    <li>
                        <img src="./img/home_banner2.jpg" alt="" title="" />
                    </li>
                </ul>    
                <div class="controls">
                    <a href="#" class="navitem next btn btn-bg-red"></a>  
                    <a href="#" class="navitem previous btn btn-bg-red"></a>
                </div>
            </div>    
        </div>
    </div>

    <div class="container">
        <h1>Dit is een H1 titel</h1>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sunt eaque magnam temporibus nam, corporis ipsam a dicta provident. Odit repellendus, voluptas harum magnam ab porro explicabo molestiae accusantium rem.</p>

        <h2>Dit is een H2 titel</h2>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sunt eaque magnam temporibus nam, corporis ipsam 
        a dicta provident. Odit repellendus, voluptas harum magnam ab porro explicabo molestiae accusantium rem.</p>

        <h3>Dit is een H3 titel</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sunt eaque magnam temporibus nam, corporis ipsam a dicta provident. Odit repellendus, voluptas harum magnam ab porro explicabo molestiae accusantium rem.</p>

        <h4>Dit is een H4 titel</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sunt eaque magnam temporibus nam, corporis ipsam a dicta provident. Odit repellendus, voluptas harum magnam ab porro explicabo molestiae accusantium rem.</p>
    </div>

    <div class="container">
        <div class="col-md-6">
            Form inline
            <form class="form" action="#" id="frm-test-inline">
                <div class="formrow formrow-inline error">
                    <label for="naam" class="label">Naam</label>
                    <div class="data">
                        <input type="text" class="inputtext" name="contactform[naam]" />
                    </div>
                </div>

                <div class="formrow formrow-inline">
                    <label for="bedrijf" class="label">Bedrijf</label>
                    <div class="data">
                        <input type="text" class="inputtext" name="contactform[bedrijf]" />
                    </div>
                </div>

                <div class="formrow formrow-inline">
                    <label for="email" class="label">Emailadres</label>
                    <div class="data">
                        <input type="email" class="inputtext" name="contactform[email]" />
                    </div>
                </div>

                <div class="formrow formrow-inline">
                    <label for="telefoon" class="label">Telefoon</label>
                    <div class="data">
                        <input type="text" class="inputtext" name="contactform[telefoon]" />
                    </div>
                </div>

                <div class="formrow formrow-inline">
                    <label for="telefoon" class="label">Uw vraag</label>
                    <div class="data">
                        <textarea class="textarea" name="contactform[vraag]"></textarea>
                    </div>
                </div>

                <div class="formrow-inline btn-container">
                    <button type="submit" class="btn btn-bg-red">VERSTUREN</button>
                </div>                    
            </form>
        </div>
        <div class="col-md-6">
            Form
            <form class="form" action="#" id="frm-test">
                <div class="formrow">
                    <label for="naam" class="label">Naam</label>
                    <div class="data">
                        <input type="text" class="inputtext" name="contactform[naam]" />
                    </div>
                </div>

                <div class="formrow error">
                    <label for="naam" class="label">Bedrijf</label>
                    <div class="data">
                        <input type="text" class="inputtext" name="contactform[naam]" />
                    </div>
                </div>

                <div class="formrow">
                    <label for="telefoon" class="label">Uw vraag</label>
                    <div class="data">
                        <textarea class="textarea" name="contactform[vraag]"></textarea>
                    </div>
                </div>

                <div class="formrow">
                    <label for="type" class="label">Type isolatie</label>
                    <div class="data">
                        <ul class="filter-list">
                            {foreach from=$types_isolatie item=chk key=$val}
                            <li class="filter-list-item">
                                <input id="type{$chk@index}" type="checkbox" class="checkbox" value="{$val}" />
                                <label for="type{$chk@index}">
                                    <span class="span"><span class="span"></span></span>{$chk} 
                                </label>
                            </li>
                            {/foreach}
                        </ul>
                    </div>
                </div>

                <div class="btn-container">
                    <button type="submit" class="btn btn-bg-red">VERSTUREN</button>
                </div>    
            </form>
        </div>
    </div>
</div>
{/block}