{extends file='layout.html'}

{block name="css" append}
<style type="text/css">
#test .row {
	overflow: hidden;
}

@media only screen and (max-width: 575px) {
	#test .col {
		border:solid 1px black;
	}
}

@media only screen and (min-width: 576px) {
	#test .col {
		border:solid 1px orange;
	}
}

@media only screen and (min-width: 768px) {
	#test .col {
		border:solid 1px blue;
	}
}

@media only screen and (min-width: 992px) {
	#test .col {
		border:solid 1px red;
	}
}

@media only screen and (min-width: 1200px) {
	#test .col {
		border:solid 1px purple;
	}
}
</style>
{/block}

{block name="contentwrapper"}
<div class="container" id="test">
	{for $teller = 1 to 12}
	<div class="row">
		<div class="col col-{$teller} col-sm-{$teller} col-md-{$teller} col-lg-{$teller} col-xl-{$teller}">{$teller} of 12</div>
	</div>	
	{/for}

	<hr />
	<div class="row">
		<div class="col col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6">col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6</div>
		<div class="col col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6">col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6</div>
		<div class="col col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6">col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6</div>
		<div class="col col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6">col-1 col-sm-2 col-md-3 col-lg-4 col-xl-6</div>
	</div>
</div>
{/block}