{extends file='layout.html'}

{block name="css" append}
<link rel="stylesheet" href="css/home.css?v={$smarty.now}">
{/block}

{block name="js" append}
<script src="js/home.js?v={$smarty.now}"></script>
{/block}

{block name="contentwrapper"}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus mollitia sequi labore dicta velit optio, possimus enim vero, ab. Voluptate magnam, quis eos assumenda dolores reprehenderit facere adipisci temporibus libero.
		</div>
	</div>

	<ul class="itemlist row">
		{for $teller = 1 to 6}
		<li class="itemlist-item col-md-4 col-sm-6">
			<div class="itemwrapper shadow">
				<div class="thumb">
					<img src="http://via.placeholder.com/500x500" alt="" title="" />
				</div>
				<div class="contentwrapper">
					<h3 class="title">titel {$teller}</h3>
					<div class="content">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus iste doloribus velit dolorum ipsa, esse labore, earum asperiores, consequuntur ipsam maiores veritatis dicta cupiditate modi vel ad necessitatibus odit ipsum?
					</div>
					<div class="btn-container">
						<a href="#" class="btn">Read more</a>
					</div>
				</div>
			</div>
		</li>
		{/for}
	</ul>

	<div class="row" id="row-help" data-equalHeight=".col1, .col2" data-equalHeight-width="576">
		<div class="col1 col-sm-7 col-12">
			<h3>Kan ik u helpen?</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi fugit quisquam ipsa obcaecati dignissimos. Consequuntur quo, at quae ducimus impedit aspernatur, nulla dolore facilis sed ex, itaque neque, eos placeat.
		</div>
		<div class="col2 col-sm-5 col-12">
			<h3>De voordelen</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique mollitia, eveniet. Nemo sequi pariatur, est saepe accusamus tempore nostrum molestias officiis quas dolorem fugit sed consequuntur inventore officia aliquid voluptatem!
		</div>
		<div class="col3 col-md-12">
			<h3>Company nieuwsbrief</h3>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio alias perspiciatis eveniet tempore veritatis iste molestiae nam, ad, aperiam a, eligendi similique! Odio voluptatibus corporis vero velit culpa, porro mollitia.
		</div>
	</div>

	<div class="row" id="row-test">
		<div class="col-md-6">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio unde vero harum sint, eius, corporis, explicabo iure laboriosam ut magnam officia iste delectus. Rem, mollitia nemo impedit officiis numquam autem.
		</div>
		<div class="col-md-6"></div>
	</div>
</div>

<div class="container">
	<div class="row no-gutters">
		<div class="col-md-6">1</div>
		<div class="col-md-6">2</div>
	</div>
	<div class="row">
		<div class="col-md-6">3</div>
		<div class="col-md-6">4</div>
	</div>
	<div class="row">
		<div class="col-md-6">5</div>
		<div class="col-md-6">6</div>
	</div>
</div>
{/block}